.thumbnail img {
	width: 100%;

}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

.fa-free-code-camp {
	color: red;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.thumbnail .thumb {
	height: 200px;
}